<% include ./partials/head.ejs %>
<body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="container mt-5">
            <div class="row">
                <article class="col-md-3 p-5 border bg-light">
                    <p><%= repas %></p>
                </article>
                <article class="col-md-3 p-5 border bg-light">
                    <p><%= entrymeal %></p>
                </article>
                <article class="col-md-3 p-5 border bg-light">
                    <p><%= plat %></p>
                </article>
                <article class="col-md-3 p-5 border bg-light">
                    <p><%= drink1 %></p>
                </article>
                <article class="col-md-6 p-5 border bg-light">
                    <p><%= drink2 %></p>
                </article>
                <article class="col-md-6 p-5 border bg-light">
                    <p><%= drink3 %></p>
                </article>
            </div>
        </div>
    </main>
</body> 